.loading-overlay {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.5) !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    &.dark-mode {
      background-color: black;
      color: white;
    }
     
  }
  
  .spinner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }

  
  .loading-message {
    color: white;
    font-size: 24px;
  }
