.novel-page-container {
    margin-top: 20px;
}

.chapter-table {
    width: 60%;
}

.novel-img {
    border: solid 4px #000;
    border-radius: 6px;
    margin-left: 15%;
    max-width: 320px;
    width: 90%;
}

.chapter-accordion {
    width: 60%;
    /* margin: 0 auto; */
    margin-bottom: 1.4rem;
    margin-left: 33%;
    border: solid 6px #000;
    border-radius: 10px;
    background-color: var(--light-blue)
}

.novel-description {
    text-align: justify;
    padding-right: 6rem;
}

#source-select-box {
    width: 70%;
}

.scrollable-list-group {
    max-height: 400px;
    overflow-y: auto;
    width: 70%;
}

.basic-info {
    margin-right: 10%;
}

.novel-description {
    display: block;
    text-align: justify;
}