.novel-sidebar-container {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;

    justify-content: start;
    align-items: center;
}

.sidebar-section {
    width: 100%;
    margin-bottom: 60px;
}

.novel-sidebar-container .section-title {
    font-style: italic;
    color: orange;
}

.novel-list {
    display: flex;
    flex-flow: column nowrap;

    justify-content: start;
    align-items: center;
}

.novel-card-mini {
    width: 70%;
    margin: 15px 0;
    display: flex;
    flex-flow: row wrap;
    
    justify-content: center;
    align-items: center;
}

.novel-card-mini img {
    width: 60px;

    margin-right: 4px;
}

.novel-card-mini a,
.novel-sidebar-container a {
    text-decoration: none;
    color: white !important;
}

.novel-card-mini a:hover,
.novel-sidebar-container a:hover {
    color: greenyellow !important;
    opacity: 0.7;
}


.novel-brief-info {
    width: calc(100% - 68px);
    display: flex;
    flex-flow: column nowrap;

    justify-content: start;
    align-items: start;
}

.offcanvas-novel-brief-info {
    width: calc(100% - 68px);
    margin: 0 4px;
    display: flex;
    flex-flow: column nowrap;

    justify-content: start;
    align-items: start;
}

.novel-brief-info strong {
    text-align: start !important;
}


.category-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;

    justify-content: space-evenly;
    align-items: center;
}

.category-tag {
    font-size: 13px !important;
    margin-bottom: 8px;

    background: linear-gradient(90deg, var(--dark-blue), black) !important;
    box-shadow: 1.5px 1px var(--light-blue);
}

.category-tag:hover {
    background: linear-gradient(90deg, #3b66f5, #163bcd) !important;
}

.watch-full-user-list-btn {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.offcanvas-user-latest-novels {
    max-width: 25vw !important;
    background-color: var(--light-blue) !important;
}

.offcanvas-description-container {
    padding: 12px 0;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


.offcanvas-novel-card-mini {
    width: 100%;
    margin: 15px 0;

    display: grid;
    grid-template-columns: 64px auto 64px;

    place-items: center;
}


.offcanvas-novel-card-mini img {
    width: 60px;

    margin-right: 4px;
}

.offcanvas-novel-card-mini a {
    text-decoration: none;
    color: white !important;
}

.offcanvas-novel-card-mini a:hover {
    color: greenyellow !important;
    opacity: 0.7;
}

.offcanvas-description-container .delete-user-novel-btn,
.offcanvas-novel-card-mini .delete-user-novel-btn {
    color: red !important;
    background: linear-gradient(90deg, white, whitesmoke) !important;
}