.app-header {
    width: 100%;
    padding: 0 5%;

    color: white;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 15% auto 10%;
}

.app-logo {
    max-height: calc(15vh - 8px) !important;
}


.settings-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

button {
    margin: 0 2px;
}

.search-bar>input {
    max-width: 500px;
}

.search-bar a {
    color: white;
    text-decoration: none;
}

.category-tag {
    background: linear-gradient(90deg, var(--dark-blue), black) !important;
    box-shadow: 1.5px 1px var(--light-blue);
}

.category-tag:hover {
    background: linear-gradient(90deg, #3b66f5, #163bcd) !important;
}

.settings-bar > button {
    margin: 0 8px;
    box-shadow: 1.5px 1px var(--light-blue);
    background: linear-gradient(90deg, var(--dark-blue), black) !important;
}

.settings-bar > button:hover {
    background: linear-gradient(90deg, #3b66f5, #163bcd) !important;
}