.login-btn {
    width: 80%;
}

.login-bg {
    background: #fff !important;
}

.app-name {
    margin-left: 10%;
    font-family: cursive;
    font-size: 2rem;
    color: brown;
    font-weight: 700;
    margin-top: 5%;
}

.logo-img {
    width: 400px;
}

.login-subtitle {
    margin-top: 4%;
    font-weight: 400;
}

.login-submit-btn {
    margin-top: 6%;
}