.app-name {
    margin-left: 10%;
    font-family: cursive;
    font-size: 1.5rem;
    color: brown;
    font-weight: 700;
    margin-top: 5%;
}

.logo-img {
    width: 300px;
}

.login-subtitle {
    margin-top: 4%;
    font-weight: 400;
    font-style: italic;
}

.login-submit-btn {
    margin-top: 6%;

}

.return-home {
    margin-bottom: 0px;
}