.app-footer {
    background-color: var(--dark-blue);

    color: white;
    display: grid;
    grid-template-columns: 15% 30% 15% 15% auto;
    justify-content: space-evenly;
}

.app-footer > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: start;
}

.app-footer > div > strong {
    font-size: 20px;
    align-self: center;
    margin-bottom: 4px;
}

.footer-navbar-link,
.footer-contact > a {
    font-style: italic;
    margin: 4px 0;
    color: white;
}

.footer-navbar-link:hover,
.footer-contact > a:hover {
    opacity: 0.7;
}

.footer-credit > img {
    max-width: 50%;
}

.app-logo {
    max-height: calc(15vh - 8px) !important;
}