.page-not-found {
    background-image: url('/assets/gifs/404.gif'); 
    background-size: cover; 
    background-position: center;
    width: auto; 
    height: 50vh; 
    display: flex;
    justify-content: right; 
    align-items: center; 
    color: #fff; 
    text-align: right; 
    &.dark-mode {
		background-color: black;
		color: white;
	}  
}

.error-content {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    margin-right: 50px;
    text-align: center; 
    max-width: 50vw;
}

.error-message {
    font-size: 2em;
}

.home-link {
    font-size: 1.5em; 
    color: #066886; 
    background-color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 4px;
    border-radius: 8px;

    &:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
}