.App {
  text-align: center;
  background-color: var(--transparent-blue);

  &.dark-mode {
    background-color: black;
    color: white;
  }
}

.app-logo {
  height: 40vmin;
  pointer-events: none;

  border-radius: 50%;
}

.app-logo:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.app-container {
  position: relative;
  color: white;
  margin: 4px 0;
  min-height: 50vh;

}

.App-link {
  color: #61dafb;
}

.btn {
  background: linear-gradient(90deg, #3b66f5, #163bcd);
  color: white;
}

.btn>a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}


.loading-message {
  line-height: 50vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}