.brief-exported-novel-info {
    display: flex;
    flex-flow: column nowrap;

    justify-content: start;
    align-items: center;

    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.exported-chapter-selection {
    margin: 12px 0;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    align-items: center;

    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;

}